#mainContainer{
    text-align: center;
    color: antiquewhite;
    background-color: black;
    /* position: sticky; */
    top: 0;
    width: 94rem;
    left: 0;
}
.image{
    width: 1505px;
    height: 550px;
}
.navigationBar{
    background-color: black;
}