<div class="main">
  <h1>{{title}}</h1>
  <p>
    This is my Project named User Details Management System!!!!
    <br>
    User Details Management System describes the ability for administrators to
    manage devices, systems, applications,storage systems, networks, SaaS Services,
    and user access to other various IT resources. User Management is a core part to any identity
    and access Management(IAM) solution.
    User Management enables administratorsto grant access and manage user access and control user accounts.
    A user Management system forms an integral part of identity and access management (IAM) and serves as a basic form
    of security.<br>

    <button class="ButtonOne" routerLink="/admin">Admin</button>
    <button class="ButtonTwo" (click)="logout()">Logout</button>
  </p>
</div>