<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page:</title>
</head>
<body>
  <h1>Login Page</h1>
  <div class="login">
    <label>Username :</label><br><br>
    <input type="text" required placeholder="Enter your Username"><br><br>
    <label>PASSWORD :</label><br><br>
    <input type="password" required placeholder="Enter your Password"><br><br>
    <button type="submit">SUBMIT</button>
  </div>
  {{detail|json}}

  
  <tr *ngFor="let value of detail">
    <td>{{value.id}}</td>
    <td>{{value.title}}</td>
  </tr>



  <!-- <li *ngFor="let values of detail"></li>
  <ul>{{values}}</ul> -->

  <!-- <li>{{detail|json}}</li> -->
</body>
</html>