*{
    text-align: center;
    border-color: black;
}
h1{
    color: blue;    
}
#error{
    color: red;
}
#loginForm{
    background-color:rgb(153, 153, 255,0.5);
    width: 500px;
    height: 300px;
    position: relative;
    left: 520px;
}
input{
    padding: 10px;
    width: 200px;
}
