<button mat-button routerLink="/admin">Admin</button>

  <div>
    <label>ID:</label><pre></pre>
    <input type="number" placeholder="Enter the ID of the User" required><pre></pre>
  
    <label>NAME:</label><pre></pre>
    <input type="text" placeholder="Enter the Name of the User" required><pre></pre>
  
    <label>PASSWORD:</label><pre></pre>
    <input type="text" placeholder="Enter password for that user" required><pre></pre>
  
    <label>ROLE:</label><pre></pre>
    <input type="text" placeholder="Enter the ROLE for the User" required><pre></pre>
  
    <label>IMAGE:</label><pre></pre>
    <input type="text" placeholder="Enter the URl of the IMAGE" required><pre></pre>
  
    <button>SUBMIT</button>
  </div>

