<h1>Admin Login</h1>

<div id="icon">
  <!-- <button routerLink="/home">Home</button> -->
  <!-- <button routerLink="/login">Login</button> -->
  <button (click)="logout()">Logout</button>
  <button routerLink="/about">About</button>
</div>

<table>
  <thead>
    <tr>
      <th>id</th>
      <th>name</th>
      <th>password</th>
      <th>role</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
    <td>{{user.id}}</td>
    <td>{{user.name}}</td>
    <td>{{user.password}}</td>
    <td>{{user.role}}</td>
    <td>
      <button type="button" (click)="deleteUser(user.id)">Delete</button>
      <button type="button" (click)="UpdateUser(user.id)">Update</button>
    </td>
    </tr>
  </tbody>
  
</table>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto ex nulla id distinctio, necessitatibus porro aliquam ipsum maiores minus, et in facere error quod sit fuga tempora consequatur maxime earum!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo excepturi soluta fugiat beatae nemo, velit amet magni voluptatum inventore rem dolor eum mollitia obcaecati a quas nulla necessitatibus? Aliquam, cumque!</p>