table{
    position: relative;
    left: 100px;
    border: 5px tomato solid;
    margin-bottom: px;
    padding: 100px;
}
tr,td{
    padding: 10px;
    margin: 20px;
    width: 10px;
}
button{
    border-radius: 10px;
    padding: 15px;
    margin-left: 600px;
    margin-bottom: 20px;
    margin-top: 18px;
    background-color: rgb(79, 180, 51);
    color: white;
}
h1{
    text-align: center;
}