<h1>User Dashboard</h1>

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Password</th>
            <th>Role</th>
            <th>Image</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let count of mug">
        <td>{{count.id}}</td>
        <td>{{count.name}}</td>
        <td>{{count.password}}</td>
        <td>{{count.role}}</td>
        <td><img style="width: 100px" src="{{count.image}}"></td>
        <td><button type="button" (click)="update(count.id)">UPDATE</button></td>
        </tr>
    </tbody>
</table>
<button (click)="logout()">LOGOUT</button><br>
