<h1>User Dashboard</h1>

<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <p>Auto-resizing sidenav</p>
      <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
      <button (click)="showFiller = !showFiller" mat-raised-button>
        Toggle extra text
      </button>
    </mat-drawer>
  
<div class="example-sidenav-content">
    <button type="button" mat-button (click)="toggle()">
    Toggle sidenav
    </button>
</div>  
</mat-drawer-container>

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Password</th>
            <th>Role</th>
            <th>Image</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let count of mug">
        <td>{{count.id}}</td>
        <td>{{count.name}}</td>
        <td>{{count.password}}</td>
        <td>{{count.role}}</td>
        <td><img style="width: 100px" src="{{count.image}}"></td>
        <td><button type="button" (click)="update(count.id)">UPDATE</button></td>
        </tr>
    </tbody>
</table>
<button (click)="logout()">LOGOUT</button><br>